body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    background-color: #d6e6e9;
}
h1, h4 {
    color: #0095b0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes press {
    0% {
        transform: scale(1);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    50% {
        transform: scale(0.9);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}
.square {
    width: 40px;
    height: 40px;
    background-color: #a6a7a7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    user-select: none;
}
.square.animate {
    animation: press 0.3s ease-in-out;
}
.square.filled {
    background-color: #ab0003;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}
.square.filled.current {
    background-color: #ee2e31;
}
.square.filled:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
.square.highlight {
    background-color: #e2a2a4;
    cursor: pointer;
}

.timer {
    margin-top: 20px;
    font-size: 26.65px;
    font-weight: bold;
    display: inline-block;
    width: 200px;
    color:#ee2e31;
    text-align: left;
}

@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    color: #0095b0;
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    animation: floatIn 0.5s ease-out;
}
#modal-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #0095b0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}